.heroGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}




.heroimg{
    background-image: url(../assets/philly-Hero.jpg);
    width: auto;
    height:900px;
    grid-column: 1 / 11;
    grid-row: 1 / 11;
    background-position:center center;
    background-size: cover;
}