@font-face {
    font-family: Josefin-Sans;
    src: url(/BuisnessRedesignAMA/fonts/JosefinSans-VariableFont_wght.ttf);
}


body{
    font-family: Josefin-Sans;
}
.logo {
  position: relative;
  width: 5em;
  height: 0;
}
.logo .wrapper {
  position: absolute;
  top:-2rem;
  left:0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  background-color: #8B0000 
}
.logo img {
  width: 100%;
  padding: 0.5em;
}

.phillyCheeseteakGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: repeat(8, 1fr);
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .specialSandwichesGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .burgersGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .kidsMealGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .frenchFriesGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .sidesGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .extrasGrid {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  .drinksGrid {
      display: grid;
      grid-template-columns: 5fr 5fr;
      grid-template-rows: 1fr;
      column-gap: 40px;
    
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  
  
    .navbar {
      background-color: #8B0000 !important;
    }
    
    .navbar-brand {
      position: absolute;
      left: 49%;
      transform: translateX(-50%);
    }
    
    .navbar-nav .nav-link {
      color: #fff !important;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 1rem;
      font-family: "Josefin Slab", serif;
    }
    
    .navbar-nav .nav-link:hover {
      color: #ccc !important;
    }
  
  
  h1{
  
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    left: 60px;
    
  }


  .foodItemText {
    font-size: 25px;
  }
  
  .foodDescription {
    font-size: 17px;
    height: 60px;
  }
  
  .foodPrice {
    font-size: 17px;
  }
  
  hr {
    border-width: 2px;
    color: #930000;
    opacity: 1;
  }
  
  
  h1{
    max-width: 600px;
  }
  
  /* Footer Styles */
  
  
  .Thicker-Line {
      border: none;  
      height: 4px;   
      background-color: #8B0000;  
      opacity: 1;    
      margin: 2rem 0;  
      width: 100%;  
  }  .footer {
    background-color: white;
    color: black;
    font-family: "Josefin Slab", serif;
  }
  
  .footer-heading {
    font-size: 1.5rem;
  }
  .mb-3{
    display: flex;
    flex-direction: column;
  }
  
  .btn-outline-dark {
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
  }
  .address{
    position: relative;
    font-weight: bold;
  }
  
  .business-hours{
  position: relative;
  
  }
  
  .business-hours {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .map-container {
    width: 95%;
    height: 90%;
    position: relative;

  
  }
  .copyright-bar {
    background-color: #8B0000;  
    color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  .copyright-bar a {
    text-decoration: none;
  }
  
  .copyright-bar a:hover {
    text-decoration: underline;
  }
  
  .footer-full-width {
    padding-left: 0;
    padding-right: 0;
  }
  /* responsiveness */
  
  @media (max-width: 768px) {
    
      .business-hours {
        position: relative;
        top: 0.5rem;
        
      }
    
      .map-container {
        width: 100%;
        height: 80%;
        position: relative;
        z-index: 1;
      }
    
      .hours-list {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-align: center;
      }
      .footer-heading {
        margin-top: 1rem;
        text-align: center;
      }
    
      .address {
        text-align: center;
      }
      .mb-3{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .location{
        display: flex;
        justify-content: center;
      }

      .hours-list{
        display: flex;
        justify-content: center;
      }
      .business{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .hours-list{
        display: flex;
        justify-content: center;
        position: relative;
        left: 140px;
      }
      h1{
        max-width: 300px;
      }
    }

    
  
    @media (max-width: 420px) {
      .foodDescription{
        height: 80px;
      }
    }